.browse-list {
    border-bottom: 1px solid #ddd;
}

.browse-list__heading {
}

.browse-list__list {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.browse-list__card {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    padding: 8px 16px;
    transition: background-color 0.2s;
    flex: 1;
}

.browse-list__key_desc {
}

.browse-list__key {
}

.browse-list__value {
}

.browse-list__image {
    max-width: 120px;
    max-height: 120px;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    float: right;
    margin-right: 1rem;
}

.browse-items {
}


.browse-items__heading {
}

.browse-item {
}

.browse-item__heading {
}

.browse-item__list {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.browse-item__link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1rem;
}

.browse-item__card {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    padding: 8px 16px;
    transition: background-color 0.2s;
    flex: 1;
}

.track-row__track-add-next {
}

.browse-item__key_desc {
}

.browse-item__key {
}

.browse-item__value {
}

.browse-item__image {
    max-width: 120px;
    max-height: 120px;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    float: right;
    margin-right: 1rem;
}
